body {
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
}

#principal {
  height: 130vh;
  background-image: url(../img/img1.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
}
#principal nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#principal nav span {
  color: aquamarine;
  margin-left: 2rem;
  font-size: 2rem;
}
#principal nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 2rem;
}
#principal nav ul li {
  list-style: none;
  margin-right: 2rem;
}
#principal nav ul li a {
  text-decoration: none;
  color: white;
  padding: 0.25rem 0.5rem;
  border-radius: 50px;
  font-weight: bold;
  -webkit-transition: color 200ms;
  transition: color 200ms;
}
#principal nav ul li a:hover {
  background-color: white;
  color: cornflowerblue;
}
#principal > div {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
}
#principal > div h1 {
  font-size: 4rem;
  margin: 0 0 1rem 0;
}
#principal > div p {
  width: 50%;
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 4rem;
}
#principal > div a {
  color: white;
  text-decoration: none;
  padding: 0.5rem 2rem;
  background-color: #00e2e2;
  border-radius: 50px;
  margin-right: 1rem;
  -webkit-transition: 200ms;
  transition: 200ms;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
#principal > div a:hover {
  background-color: white;
  color: cornflowerblue;
}