body{
    margin: 0;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
#principal{
    height: 130vh;
    background: {
        image: url(../img/img1.jpeg);
        size: cover;
        repeat: no-repeat;
        position: bottom;
    } 
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        span{
            color: aquamarine;
            margin-left: 2rem;
            font-size: 2rem;
        }
        ul{
          display: flex;  
          margin-right: 2rem;
          li{
              list-style: none;
              margin-right: 2rem;
              a{
                  text-decoration: none;
                  color: white;
                  padding: .25rem .5rem;
                  border-radius: 50px;
                  font-weight: bold;
                  transition: color 200ms;
                  &:hover{
                    background-color: white;
                    color: cornflowerblue;
                  }
              }
          }
        }
    }
    & > div{
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: white;
        h1{
            font-size: 4rem;
            margin: 0 0 1rem 0;
        }
        p{
            width: 50%;
            font-size: 1.2rem;
            text-align: center;
            margin-bottom: 4rem;
        }
        a{
            color: white;
            text-decoration: none;
            padding: .5rem 2rem;
            background-color: rgb(0, 226, 226);
            border-radius: 50px;
            margin-right: 1rem;
            transition: 200ms;
            font: {
                weight: bold;
                family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            }
            &:hover{
                background-color: white;
                color: cornflowerblue;
            }
        }
    }
}